nav{
    background-color: white;
}

.slide-cap{
    color: rgb(41, 41, 41);
}

#main{
    background-color:white;
}

footer{
    background-color: white;
}
h1, p{
   color:black; 
}
#sec-2{
    background-color: #E3F2FD;
}