nav{
    background-color: #F0F8FF;
}
.nav-item{
    color:white;
}
.slide-cap{
    color: rgb(41, 41, 41);
}

#main{
    background-color:white;
}

footer{
    background-color: white;
}
h1, p{
   color:black; 
}
#sec-2{
    background-color: #F0F8FF;
}
#sec-4{
    background-color:#F0F8FF;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}
h1, h2, h3, h4,h5,h6{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}
.btn{
    font-family: 'Josefin Slab', serif;

}
.navbar-brand{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
ul{
    font-size: 16px;
    font-weight: 500;
}
.cap{
    font-weight:500;
}